<!--
 * Copyright (c) 2023 Mag. DI Simon Pirker
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with this program. If not, see https://www.gnu.org/licenses/.
--><div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mx-sm-3 mb-2">
                    <input  #box (keyup)="onKey()" [(ngModel)]="searchString" 
                    class="form-control mr-sm-2" 
                    type="search" placeholder="Suche in Thesaurus oder Code-ids (zumindest 2 Buchstaben pro Wort)" 
                    aria-label="Suche">
                </div>

                <!-- Suche in-->
                <div class="input-group mx-sm-3 mb-2">
                    <div class="form-check form-check-inline">
                        <label>
                            Suche Code-id in: 
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchInCode" id="ICPC2"  (change)="changeSearchInCode($event)" checked>
                        <label class="form-check-label" for="ICPC2">
                            ICPC2
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchInCode" id="ICPC3" (change)="changeSearchInCode($event)">
                        <label class="form-check-label" for="ICPC3">
                            ICPC3
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchInCode" id="SNOMEDCT" (change)="changeSearchInCode($event)">
                        <label class="form-check-label" for="SNOMEDCT">
                            SNOMED CT
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchInCode" id="ICD10" (change)="changeSearchInCode($event)">
                        <label class="form-check-label" for="ICD10">
                            ICD-10
                        </label>
                    </div>
                </div> 
                <!--Filter Kapitel-->
                <div class="input-group mx-sm-3 mb-2">
                    <div class="form-check form-check-inline">
                        <label>
                            Kapitelauswahl: 
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'')" >Alle</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'A')"  title="Allgemein und unspezifisch">A</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'B')" title="Blut, blutbildende Organe, Immunsystem">B</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'D')" title="Verdauungssystem">D</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'F')" title="Auge">F</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'H')" title="Ohr">H</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'K')" title="Kreislauf">K</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'L')" title="Bewegungsapparat">L</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'N')" title="Neurologisch">N</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'P')" title="Psychologisch">P</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'R')" title="Atmungsorgane">R</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'S')" title="Haut">S</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'T')" title="Endokrin, metabolisch, Ernährung">T</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'U')" title="Urologisch">U</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'W')" title="Schwangerschaft, Geburt, Familienplanung">W</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'X')" title="Weibliche Genitale/Brust">X</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'Y')" title="Männliche Genitale">Y</button>
                        <button type="button" class="btn btn-secondary btn-sm"(click)="clickedKapitel($event,'Z')" title="Soziale Probleme">Z</button>
                        
                                                
                    </div>
                </div>
                <!--Filter Farbe-->
                <div class="input-group mx-sm-3 mb-2">
                    <div class="form-check form-check-inline">
                        <label>
                            Farbauswahl: 
                        </label>
                    </div>
                    <div class="btn-group" role="group" >
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,0)" >Alle</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,1)" [style.background-color]="translateFarbe(1) "title="Symptome">Symp</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,2)" [style.background-color]="translateFarbe(2)"title="Prozeduren">Proz</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,3)" [style.background-color]="translateFarbe(3)"title="Infektionen">Infe</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,4)" [style.background-color]="translateFarbe(4)"title="Neubildungen">Neub</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,5)" [style.background-color]="translateFarbe(5)"title="Verletzungen">Verl</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,6)" [style.background-color]="translateFarbe(6)"title="Angeborene Anomalien">Angeb</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,7)" [style.background-color]="translateFarbe(7)"title="Andere Diagnosen">Diag</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,8)" [style.background-color]="translateFarbe(8)"title="Substanzen">Subs</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,9)" [style.background-color]="translateFarbe(9)"title="Gesundheitsprobleme und Risiken (Familienanamnese)">Risk</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,10)" [style.background-color]="translateFarbe(10)"title="Voererkrankungen">Vorerk</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,11)" [style.background-color]="translateFarbe(11)"title="Eingriffe/Operationen in der Vorgeschichte">Eingr</button>
                        <button type="button" class="btn btn-secondary btn-sm black-input"(click)="clickedColor($event,12)" [style.background-color]="translateFarbe(12)" title="Implantate">Impla</button>
                        
                    </div>
                </div>
                <!-- Anzeige-->
                <div class="input-group mx-sm-3 mb-2">
                    <div class="form-check form-check-inline">
                        <label>
                            Anzeige: 
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input"
                            type="checkbox"
                            [checked]="showICPC2"
                            (change)="showICPC2 = !showICPC2"/>
                            ICPC2
                        </label>     
                    </div>   
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input"
                            type="checkbox"
                            [checked]="showICPC3"
                            (change)="showICPC3 = !showICPC3"/>
                            ICPC3
                        </label>     
                    </div>  
                    <div class="form-check form-check-inline">
                        <label  class="form-check-label">
                            <input class="form-check-input"
                            type="checkbox"
                            [checked]="showSNOMEDCT"
                            (change)="showSNOMEDCT = !showSNOMEDCT"/>
                            SNOMED CT
                        </label>     
                    </div>  
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input"
                            type="checkbox"
                            [checked]="showICD10"
                            (change)="showICD10 = !showICD10"/>
                            ICD-10
                        </label>     
                    </div>  
                </div>  
                
            </div>   
        </div>
    </div>
  
      
<table class="table  table-hover  " >
    <thead>
        <tr>            
            <th >Thesaurus</th>
            <th *ngIf="(showICPC2)">ICPC2</th>
            <th *ngIf="(showICPC3)">ICPC3</th>
            <th *ngIf="(showSNOMEDCT)">SNOMED CT</th>
            <th *ngIf="(showICD10)">ICD-10</th>
            
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <ng-container *ngFor='let icpc2 of icpc2Arr$; let i = index' >
            <tr (click)="selectICPC2(icpc2, i)" [ngClass]="{'table-info': selectedIndex === i}" [style.background-color]="translateFarbe(icpc2.farbe)">
                <td><div [innerHtml]="icpc2.begriffe | highlighter:searchString:'part'"></div></td>                
                <td *ngIf="(showICPC2)"><button class="btn btn-info btn-sm" type="button" (click)="clickedCode(icpc2.icpc2, icpc2.begriffe)" [innerHtml]="icpc2.icpc2 | highlighter:searchString:'part'"></button></td>                
                <td *ngIf="(showICPC3)"><div [innerHtml]="icpc2.icpc3| highlighter:searchString:'part'"></div></td>                
                <td *ngIf="(showSNOMEDCT)"> <div [innerHtml]="'<b>'+icpc2.snomedCT+': </b>'+icpc2.snomedCTInternationalBrowser| highlighter:searchString:'part'"></div></td>
                <td *ngIf="(showICD10)"><div [innerHtml]="'<b>'+icpc2.icd10+': </b>'+icpc2.icd10Display| highlighter:searchString:'part'"></div> </td>
                <!--<td *ngIf="(showExklusive)"><div *ngFor='let exklusive$ of icpc2?.exklusive'>{{exklusive$?.exklusive}} <button class="btn btn-info btn-sm" type="button" (click)="clickedCode(exklusive$?.icpc3, exklusive$?.exklusive)" >{{exklusive$?.icpc3}}</button></div></td>-->
            
                
            </tr>
            <tr *ngIf="(selectedICPC2.id === icpc2.id)">
                <td colspan="10">
                    
                    <app-icpc2details [icpc2model]="selectedICPC2" ></app-icpc2details>
                        
                </td>
            </tr>
    
        </ng-container>
    </tbody>
    
</table>

