<!--
 * Copyright (c) 2023 Mag. DI Simon Pirker
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with this program. If not, see https://www.gnu.org/licenses/.
--><table class="table  table-hover table-striped-columns table-info " >
    
    <tbody class="table-group-divider">
       
        <tr>
            <td><strong>ICPC2:</strong> {{icpc2model.icpc2}}</td>
            <td><strong>Kriterien:</strong> {{icpc2model.kriterien === "" ? "kein Eintrag" : icpc2model.kriterien}}</td>
            <td><strong>Red Flags:</strong> {{icpc2model.redFlags === "" ? "kein Eintrag" : icpc2model.redFlags}}</td>
            <td><strong>Hinweise:</strong> {{icpc2model.hinweise === "" ? "kein Eintrag" : icpc2model.hinweise}}</td>
        </tr>
    </tbody>
</table>